/* ------------------------- */
/* Estilos Generales */
/* ------------------------- */

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body { 
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 0;
}

.texto-naranja {
    font-weight: 400;
    color: orange;
}

.texto-blanco {
    font-weight: 700;
    color: #fff;
}

.texto-negro {
	color: #000;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(/media/shoesbg.jpg); 
    /* background-image: url(/media/shoesbg.jpg); */
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}

.header .titulo {
    font-size: 4rem;
    font-weight: bold;
}

.header .textoMain {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 100;
}

.header .contenedor-titulo {
    font-size: 1.3rem;
    text-transform: uppercase;
}

.header .contenedor-icono {
    position: absolute;
    z-index: 99;
    bottom: 3%;
    left: 50%;
}

#fp-nav ul li a span {
    background-color: orange;
}

#fp-nav ul li .fp-tooltip {
    color: orange;
}

.nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 70;
    width: 100%;
    margin: 0;
    padding: 0 20px;
}

.nav .marca {
    color: orange;
}

.nav li.active {
    border-bottom: 2px solid orange;
}

.nav li.active a {
    color: orange;
}

.nav li,
.nav a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    color: #c2c2c2;
}

.contenedor-icono {
    position: absolute;
    z-index: 99;
    bottom: 3%;
    left: 50%;
    animation: bajar-subir 1s ease infinite;
}

.contenedor-icono .icono {
    /* text-align: center; */
    bottom: 0;
}

.contenedor-icono p a .iconoArrow {
    width: 7%;
    fill: #fff;
}

@keyframes bajar-subir {
    0% { transform: translateY(20%);}
    25% { transform: translateY(0%);}
    100% { transform: translateY(20%);}
}


/* Productos */

.containerProductos {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #131313;
}

.container {
    position: relative;
}

.container .card {
    position: relative;
    width: 320px;
    height: 450px;
    background-color: #232323;
    border-radius: 20px;
    overflow: hidden;
}

.container .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #9bdc28;
    clip-path: circle(150px at 80px 20px);
    transition: 0.5s ease-in-out;
}

.container .card:hover::before {
    clip-path: circle(300px at 80% -20%);
}

.container .card::after {
    content: "Nike";
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}

.container .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.container .card:hover .imgBx {
    top: 0%;
    transform: translateY(0%);
}

.container .card .imgBx img {
    width: 100%;
}


    


